:root {
    /*GLOBAL VARIABLE */
    --p-color: rgb(60, 60, 226);
    --s-color: rgb(177, 177, 222);
    --defpad: 12px;
    --defmar: 10px;
}

* {
    margin: 0;
    padding: 0;
}

ul li:first-child {
    --p-color: yellowgreen;
    /* local variable */
    background-color: var(--p-color);
}

ul li:nth-child(2) {
    --p-color: rgb(50, 205, 205);
    /* local variable */
    background-color: var(--p-color);
}

ul li:nth-child(3) {
    --p-color: rgb(191, 47, 210);
    /* local variable */
    background-color: var(--p-color);
}

.nav {
    background-color: var(--p-color);
}

.container {
    background-color: var(--s-color);
    padding: var(--defpad);
}

ul {
    display: flex;
}

ul li {
    border: 10px solid var(--s-color);
    list-style: none;
    padding: var(--defpad);
    margin: var(--defmar);

}