.container {
    border: 2px solid black;
    display: grid;
    grid-template-areas: "nav nav nav"
        "side main article"
        "footer footer footer";
}

.item {
    height: 55px;
    border: 2px solid rgb(8, 120, 124);
}

.item1 {
    grid-area: nav;
    background-color: aqua;
}

.item2 {
    grid-area: main;
    background-color: blueviolet;
}

.item3 {
    grid-area: side;
    background-color: rgb(8, 218, 130);
}

.item4 {
    grid-area: article;
    background-color: yellowgreen;
}

.item5 {
    grid-area: footer;
    background-color: burlywood;
}